 <%
 	canvas_size = {
		:width => 200,
		:height => 200
	} 
 %> 
<%= stylesheet_link_tag "display_home/products" %>
<%= stylesheet_link_tag "templates/product" %>
<%= javascript_include_tag "templates/product" %>


<script language="JavaScript">
window.paginatorCallback = function(pageNum){ 
	window.location = "/display_home/products?page_num=" + pageNum;
};  

window.globals = {
	products: <%=raw @products.to_json%>,
	productIds: <%=raw (@products.collect{|p| p["product_id"]}).to_json %>,
	tableRowTemplate: "<%=escape_javascript render :partial => 'templates/product', :locals => {:user_type => :user}%>"
};

function insertProducts( ){
	var index = 0;
	var productsCollection = $("#products-collection");
	
	var ll = window.globals.productIds.length; 
	for(var i = 0 ; i< ll ; i++){
		var pid = window.globals.productIds[i];
		var product = window.globals.productsById[pid];
		
		var bgColorInHex = product.attr.color; 
		var rHex = bgColorInHex.substring(1,3);
		var rDec = parseInt(rHex,16);
		var gHex = bgColorInHex.substring(3,5);
		var gDec = parseInt(gHex,16);
		var bHex = bgColorInHex.substring(5,7);
		var bDec = parseInt(bHex,16);  
		var color = rDec + "," + gDec + "," + bDec + ",0.6";
		var contentStyleCSS = "background-color:rgba(" + color + ");-webkit-border-radius: 15px;-moz-border-radius: 15px;border-radius: 15px;";
		var topStyleCSS = "width:500px;float:left;clear:none;";
		if(i%2===0){
			//don't assign anything
		}else{
			topStyleCSS += "margin-left:50px;"
		} 
		
		///// COMPILE
		var productTmpl = new ProductTmpl(product.product_id);
		var str = productTmpl.compile(window.globals.tableRowTemplate,
			$.extend(product,{
				canvas_width: <%=canvas_size[:width]%>,
				canvas_height: <%=canvas_size[:height]%>,
				content_level_style: contentStyleCSS,
				top_level_style: topStyleCSS
			})	
		);  
		productsCollection.append(str);
		
		///// MODIFY IMAGE AREA 
		var turl = product.thumbnail_url;
		if (turl == null || turl === ""){
			turl = "/images/display_home/image_not_found.png";
		}
		$(productTmpl.ids.imageAreaId).html("<img width=200 height=200 style='width:200px;height:200px' src='"+turl+"'></img>");
		
		//if(i % 2 == 0){
		//	div.append("<br /><br />");
		//}
		
	}; 
}
 
$(document).ready(function(){
	// assign productsById
	var productsById = {};
	var products = window.globals.products;
	var ll = products.length;
	for(var i = 0 ;i  < ll ; i++){
		var product =  products[i];
		product.attr = $.parseJSON(product.attr_json);
		productsById[product.product_id] = product;
	}
	window.globals.productsById = productsById;		
	
	// let's insert the tablerows
	insertProducts();
});

</script>


<%= admin_paginator :page_num=>@page_num,:total_items => @total_items,  :js_callback => 'window.paginatorCallback'%> 
<br />

<div id="products-collection">
	</div>



<br />

<%= admin_paginator :page_num=>@page_num,:total_items => @total_items,  :js_callback => 'window.paginatorCallback'%>
<br /> 

