<%= javascript_include_tag :defaults %>
<%= stylesheet_link_tag "jquery/jquery-ui/smoothness/jquery-ui-1.8.17.custom.css" %>
<script type="text/javascript" src="/javascripts/jquery/jquery-1.7.1.min.js"></script> 
<script type="text/javascript" src="/javascripts/jquery/jquery-ui-1.8.17.custom.min.js"></script>
<!-- <style type="text/css" src="jquery/jquery-ui/smoothness/jquery-ui-1.8.17.custom.css"></script>  -->

<% counter = 0 %>
<% length = tabNames.length %>

<!-- <li onclick="" class="<%= "active-tab" if params[:controller] == lowerName %>" style="width: <%= 99.2 / length %>%"> -->
<!-- callback(<%= lowerName %>);return false;
					<% if counter == activeTab %>
						<% redirectLink = "http://localhost:3000/home/" + lowerName %>
					<% end %>
				<a href="http://localhost:3000/home/products">
				<li class="<%= "active-tab" if params[:action] == "products" %>">
					Products
				</li> </a>
				<a href="http://localhost:3000/home/about">
				<li class="<%= "active-tab" if params[:action] == "about" %>">
					About
				</li> </a> -->
				
<script>
	$(function() {
		$("#tabs").tabs();
	});
</script>
		
<div class="ss-tab-layout">
	<div class="ss-tab-container">
		<div id="tabs">
			<ul>
				<% tabNames.each_with_index do |name, index| %>
					<% lowerName = name.to_s.downcase %>
					<a href="#tabs-" + <%= counter + 1 %> >
						<li>
							<%= name %>
						</li>
					</a>
					<% counter = counter + 1 %>
				<% end %>
			</ul>
		</div>
	</div>
</div>
