<!-- <%=@sku.inspect if defined? @sku%>
<br /><br />
<% @skus.each do |sku| %>
	<%=sku.inspect%>
	<br />
<% end if defined? @skus %>
<br /><br /> -->
<!-- <% @brands.each do |brand| %>
	<%=brand.inspect%>
	<br />
<% end if defined? @brands %>
<br /><br />
<% @categories.each do |cat| %>
	<%=cat.inspect%>
	<br />
<% end if defined? @categories %>
<br /><br /> -->
<!-- <h1>Home#products</h1>
<p>Find me in app/views/home/products.html.erb</p> -->
<!-- <form method="post">
<div id="tabcontainer">
<div id="tabs">
<input type="submit" class="activesubmit" name="All Products" value="Tab 1" />

<input type="submit" name="Brands" value="Tab 2" />

<input type="submit" name="Bla bla" value="Tab 3" />
</div>
<div id="tabformcontent">

</div>
</div>
</form> 
<%= stylesheet_link_tag "ss-side-tabs-style.css" %>
<%= javascript_include_tag 'products.js' %>
-->
<a name="top-page"></a>
<SCRIPT language="javascript">
function callme( pageNum ){
  alert("You want to go to page #" + pageNum);
}
</SCRIPT>

<%= render :partial => 'categories_box', :locals => {:categories => @categories }%>

	
<div class="ss-products-body">
	<div class="ss-products-main-box">
		<%= paginate({:items_per_page => @items_per_page, :page_num => @page_num, :total_items => @total_items, :js_callback => "callme",:display_information => false}) %>
		<div class="ss-view-per-page-box">
		Products per page:
			<select>
			  <option value="15">15</option>
			  <option value="20">20</option>
			  <option value="25">25</option>
			  <option value="30">30</option>
			</select>
		</div>
		<div class="ss-products-box">
			<%= render :partial => 'product_box', :collection => @skus, :as => :product %>
			<div class="back-to-top-box">
				<a href="#top-page">Back to Top</a>
			</div>
		</div>
	</div>
</div>