<tr class='table_row_item_box'>
  <td><%=index+1%>.</td>   
  <td class='content'>
    <div>
      
      <div class="left_bar">
        Name<br />
        <input type="text" value="<%=product[:name]%>" /><br /><br />
        
        Brand<br />
        <input type="text" value="<%=product[:brand][:name]%>" /><br /><br />
        
        Description<br />
        <textarea cols=35 rows=10><%=product[:description]%></textarea><br /><br />
      </div>
      
      <div class="right_bar">
        <img src='/images/image-not-found.gif' style='width:230px;height:200px'/>
        <br /><br />
        
        Price<br />
        <input type="text" value="<%=product[:price]%>"/><br /><br />
        <input type="checkbox" />Enabled
      </div>
    
    </div>
  </td>
  <td><image src='/images/loading.gif'/></td>
</tr>

<!--spacer-->
<tr>
  <td>
  <br /><br />
  </td>
</tr>