<!DOCTYPE html>
<html>
	<head>
		<title>SimpleStore</title>
		<!--  -->
		
		<!--
			<%= stylesheet_link_tag :all, :recursive => true %>   
		<%= stylesheet_link_tag :all %>
		<%= javascript_include_tag :all, :recursive => true %> 
		--> 
		
		<%= stylesheet_link_tag "jquery-ui/jquery-ui-1.8.17.custom.css" %>
		<%= stylesheet_link_tag "admin/ss-admin.css" %>
		<script type="text/javascript" src="/javascripts/jquery/jquery-1.7.1.min.js"></script> 
		<script type="text/javascript" src="/javascripts/jquery/jquery-ui-1.8.17.custom.min.js"></script>  
		<%= csrf_meta_tag %>
		
		<script language="javascript"> 
			$(document).ready(function(){
				$( "#maintab" ).tabs();
				
				$("#maintab ul li a").click(function() { // bind click event to link
					alert("Clicked!"); 
				    return false;
				});
			});
		</script>
	</head>
	<body>  
		<%
			tab_id_name = controller.action_name + "-tab-content"
		%>
		
		<div id="maintab">
			<ul>
				<li><a href="#products-tab-content">Products</a></li>
				<li><a href="#settings-tab-content">Settings</a></li> 
			</ul>
			<div id="<%=tab_id_name%>">
				<%= yield %>	
			</div>
		</div>
	</body>
	
	<div id="footerWrapper">
	</div>
</html>
