<!DOCTYPE html>
<html>
	<head>
		<title>SimpleStore</title> 
		
		<%= stylesheet_link_tag "jquery/jquery-ui/ui-lightness/jquery-ui-1.8.17.custom.css" %>
		<%= stylesheet_link_tag "jquery/apprise/apprise.min.css" %>
		<%= stylesheet_link_tag "jquery/loadmask/jquery.loadmask.css" %>
		<%= stylesheet_link_tag "jquery/fileupload/jquery.fileupload-ui.css" %> 
		<%= stylesheet_link_tag "admin/ss-admin.css" %>
		<%= stylesheet_link_tag "oval-button/oval-button.css" %>
		<%= stylesheet_link_tag "centeredfocus/centeredfocus" %>
		
		<%= stylesheet_link_tag "product/product" %>
		
		<script type="text/javascript" src="/javascripts/jquery/jquery-1.7.1.min.js"></script> 
		<script type="text/javascript" src="/javascripts/jquery/jquery-ui-1.8.17.custom.min.js"></script>
		<script type="text/javascript" src="/javascripts/jquery/loadmask/jquery.loadmask.min.js"></script>
		<script type="text/javascript" src="/javascripts/jquery/apprise/apprise-1.5.min.js"></script>
		
		<script type="text/javascript" src="/javascripts/ajaxwithmask/ajaxwithmask.js"></script>
		<script type="text/javascript" src="/javascripts/imageuploader/imageuploader.js"></script>
		<script type="text/javascript" src="/javascripts/centeredfocus/centeredfocus.js"></script>
		
		<script type="text/javascript" src="/javascripts/product/product.js"></script>
		 
		<!-- new -->
		 
		 
		 
		<%= csrf_meta_tag %> 
		
		<script language="javascript">
			function getTabPathFromLink(link){
				return $(link).parent().attr("path");
			} 
			function getTabPathFromLI(li){
				return $(li).attr("path");
			}
			
			$(document).ready(function(){
				var selectedTab = <%= ["products","categories", "store_settings","about_page","my_account"].index controller.action_name %>;
				$( "#maintab" ).tabs({
					selected: selectedTab
				});
				
				
				$("#maintab ul li").click(function(event) { // bind click event to LI 
					window.location = getTabPathFromLI(this);
					$("#maintab").tabs("select",selectedTab);// force it to stay 
				    return false;
				});
				$("#maintab ul li a").click(function(event) { // bind click event to link 
					window.location = getTabPathFromLink(this); 
					$("#maintab").tabs("select",selectedTab);// force it to stay 
				    return false;
				});				
				
			});
		</script>
	</head>
	<body>   
		<div id="maintab"> 
			
			<ul> 
				<!-- path is custom -->
				<li path="/display_admin/products"><a href="#link1"  >Products</a></li>
				<li path="/display_admin/categories"><a href="#link2" >Categories</a></li>  
				<li path="/display_admin/store_settings"><a href="#link4" >Store Settings</a></li> 
				<li path="/display_admin/about_page"><a href="#link5" >About Page</a></li> 
				<li path="/display_admin/my_account"><a href="#link6" >My Account</a></li>
			</ul>
			<div id="link1">
				<%= controller.action_name == "products" ? yield : "...Loading..."%>
			</div>		
			<div id="link2">
				<%= controller.action_name == "categories" ? yield : "...Loading..."%>
			</div>	 
			<div id="link4">
				<%= controller.action_name == "store_settings" ? yield : "...Loading..."%>
			</div>		
			<div id="link5">
				<%= controller.action_name == "about_page" ? yield : "...Loading..."%>
			</div>	
			<div id="link6">
				<%= controller.action_name == "my_account" ? yield : "...Loading..."%>
			</div>			
		</div>
	</body>
	 
</html>
