<!DOCTYPE html>
<html>
	<head>
		<title>SimpleStore</title> 
		
		<%= stylesheet_link_tag "jquery/jquery-ui/ui-lightness/jquery-ui-1.8.17.custom.css" %>
		<%= stylesheet_link_tag "jquery/apprise/apprise.min.css" %>
		<%= stylesheet_link_tag "jquery/loadmask/jquery.loadmask.css" %>
		<%= stylesheet_link_tag "jquery/fileupload/jquery.fileupload-ui.css" %> 
		<%= stylesheet_link_tag "oval-button/oval-button.css" %>
		<%= stylesheet_link_tag "centeredfocus/centeredfocus" %>
		 
		
		<script type="text/javascript" src="/javascripts/jquery/jquery-1.7.1.min.js"></script> 
		<script type="text/javascript" src="/javascripts/jquery/jquery-ui-1.8.17.custom.min.js"></script>
		<script type="text/javascript" src="/javascripts/jquery/loadmask/jquery.loadmask.min.js"></script>
		<script type="text/javascript" src="/javascripts/jquery/apprise/apprise-1.5.min.js"></script>
		<script type="text/javascript" src="/javascripts/ajaxwithmask/ajaxwithmask.js"></script>
		<script type="text/javascript" src="/javascripts/imageuploader/FileUploaderRequest.js"></script>
		<script type="text/javascript" src="/javascripts/imageuploader/imageuploader.js"></script>
		<script type="text/javascript" src="/javascripts/centeredfocus/centeredfocus.js"></script>
	 	<script type="text/javascript" src="/javascripts/statictabs/statictabs.js"></script>
	 
	 	<!-- Admin specific -->
		<%= stylesheet_link_tag "display_admin/shared.css" %> 
		 
		 
		<%= csrf_meta_tag %> 
		
		<script language="javascript"> 
			$(document).ready(function(){
				 

				 
			});
		</script>
	</head>
	<body>   
			<%
				tab_names = ["Products","Categories","Store Settings","About Page","My Account"]
				urls = ["/display_admin/products","/display_admin/categories","/display_admin/store_settings","/display_admin/about_page","/display_admin/my_account"]
				selected = (urls.enum_with_index.collect {|url,i| (url.index(controller.action_name) && i) || nil   }).compact[0]
			%>
			
			<%=	main_tab_open ({
					:tab_display_names => tab_names,
					:tab_urls => urls,
					:selected =>  selected	
				})
			%>
				<%=yield%>
			<%= main_tab_close %>
		

	</body>
	 
</html>
